@import (reference) "../style/vars.less";

@grid-gap: @space-medium;
.wrapper {
  padding: @grid-gap;
}

.form {
  display:flex;
  flex-direction: column;
  align-items: stretch;
}

.input {
  display: block;
  padding: @space-small;
  flex: 0 0;
  margin-bottom: @grid-gap;
  .font-size-medium;
  @media @desktop {
    .font-size-large;
  }
}

.submit {
  display: block;
  flex: 0 0;
  margin: 0 auto @grid-gap auto;
  padding: @space-small;
  .font-size-medium;
  @media @desktop {
    .font-size-large;
  }
}

.errorMessage {
}
