@import (reference) "../style/vars.less";

.wrapper {
  .border;
  border-left-width: @space-medium;
  padding: @space-small;
  display: grid;
  grid-template-columns: 1rem auto;
  gap: @space-small @space-small;
  grid-template-areas:
    "title title"
    "statusIndicator url"
    "meta meta";
  @media @desktop {
    padding: @space-medium;
  }

  &.pending {
    border-left-color: rgb(240, 212, 51);
  }

  &.running {
    border-left-color: rgb(51, 155, 240);
  }

  &.failed {
    border-left-color: rgb(240, 57, 51);
  }

  &.succeeded {
    border-left-color: rgb(111, 240, 51);
  }
}

.value {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  @media @desktop {
    display: inline-block;
    overflow: unset;
    padding-left: @space-small;
  }
}

.title {
  grid-area: title;
  .font-size-large;
}

.url {
  grid-area: url;
  overflow: hidden;
  .label {
    .desktop-only;
  }
}

.status {
  grid-area: statusIndicator;
}

.meta {
  grid-area: meta;
}
