{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "chrome": 80
        }
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": ["jsx-control-statements", "react-hot-loader/babel", "@babel/plugin-proposal-optional-chaining"]
}
