/* Breakpoints */
@desktop: ~'(min-width: 992px)';

.desktop-only(@display: initial) {
  display: none;
  @media @desktop {
    display: @display;
  }
}

.mobile-only {
  @media @desktop {
    display: none;
  }
}

/* Type and rem definitions */
/* open-sans-regular - latin */
// See https://webpack.js.org/guides/asset-management/#loading-fonts
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/open-sans-v17-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
  url('../fonts/open-sans-v17-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/open-sans-v17-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/open-sans-v17-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('../fonts/open-sans-v17-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/open-sans-v17-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}

@mobile-font-size: 16;
@desktop-font-size: 18;
.font-size-large { font-size: 1.7rem; }
.font-size-medium { font-size: 1rem; }
.font-size-small { font-size: 0.8rem; }

/* Whitespace */
@space-small: 0.3rem;
@space-medium: 1rem;
@space-large: 1.5rem;

/* Color */
@color-border: gray;
@color-border-muted: lighten(@color-border, 20%);
@color-error: #ff6363;

/* Borders */
.border { border: 1px solid @color-border; }
.border-muted { border: 1px solid @color-border-muted; }

