@import (reference) '../vars.less';

.task-filter {
  margin-top: @margin-1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .btn-group {
    + .btn-group {
      margin-left: @margin-0;
    }

    .btn + .btn {
      border-left: 1px solid #000;
    }
  }

  .btn {
    min-width: 6rem;
    label {
      margin: 0.25rem;
    }
  }

  .filter-button__number {
    margin-left: @margin-0;
    display: none;
    @media all and (min-width: 600px) {
      display: initial;
    }
  }

  .task-filter__button {
    &--complete, &--failed {
      display: none;
      @media all and (min-width: 600px) {
        display: initial;
      }
    }

    &--clear {
      min-width: initial;
      .filter-button__label {
        display: none;

        @media all and (min-width: 600px) {
          display: initial;
        }
      }
    }
  }
}