@import (reference) '../vars.less';

.task {
  &__toggle {
    width: 100%;
  }

  &__title {
    flex: 1 1;
    text-align: left;
    position: relative;

    label {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      position: absolute;
      top: 6px;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }

  &__meta {
    display: flex;
    flex-direction: row;
    align-items: stretch;
  }

  &__stop-button {
    padding: 0.5rem 0.75rem 0;
    label {
      margin-left: @margin-0;
    }
  }
}
