@import (reference) '../vars.less';

.task {
  padding: @padding-0;
  border-radius: @border-radius-0;
  background: #cce5ff;

  &__row {
    + .task__row {
      margin-top: @margin-0;
    }

    &--first {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }

  &__url {
    flex: 1 1;
    text-overflow: ellipsis;
    direction: rtl;
    white-space: nowrap;
    overflow: hidden;
    padding-left: @padding-0;
  }
}
