@import (reference) "./style/vars.less";

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: ~"@{mobile-font-size}px";
  font-family: "Open Sans, sans serif";

  @media @desktop {
    font-size: ~"@{desktop-font-size}px";
  }
}

.appRoot {
  background: orange;
}

#App {
  background: gray;
}
